<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar" id="nav">
    <li><a href="/admin/addType">添加类别 </a></li>
    <li><a href="/admin/seeAllType">管理全部类别</a></li>
    <li><a href="/admin/addBook">添加书籍</a></li>
    <li><a href="/admin/seeAllBook">管理全部书籍</a></li>
    <li><a href="/admin/addAdmin">添加管理员</a></li>
    <li><a href="/admin/seeAllAdmin">账户管理</a></li>
    <li><a href="/admin/ads">广告位设置</a></li>
     <li><a href="/admin/message">消息设置</a></li>
    <li><a href="/admin/changePass">修改密码</a></li>
  </ul>      
</div>