
#job_mainbody{
	width: 100%;
	height: 100%;
	background-color: #E3EEEC;
	position: relative;
}

.job_infor{
	width: 900px;
	height:600px;
	margin:auto;
	margin-top: 200px;
}

.job_pic{
	width: 550px;
	height: 600px;
	float: left;
	overflow: hidden;
	position: relative;
}
.saving{
	position: absolute;
	left:600px;
	top:10px;
	z-index: 2;
}
.infors{
	width: 350px;
	height:600px;
	background-color: white;
	float: left;
	padding-left:30px;
}

.infors table{
	width: 350px;
	height: 600px;
	
	
}

.itemName{
	width:100px;
	font-size:20px;
	color: #64CBB3;
}

.bookName{
	color: #000;
	font-weight: bold;
	font-size: 25px;
}

.itemCon{
	font-size:16px;
}
.book_price{
	color: red;
	font-size: 25px;
	font-weight: bold;
}


/*缩略图展示页面*/
#book_con{
	width: 950px;
}
ul#book_con li{
   width:200px;
   height:280px;
   background-color: #fff;
   margin-right:35px;
   margin-bottom: 30px;
   float:left;
}

ul#book_con li img{
    width:190px;
    height:220px;
    border: none;
} 

ul#book_con li .sort{
  color: #FFB200;
  font-size: 16px;
}

ul#book_con li .price{
    font-size: 20px;
    font-weight: bold;
    color: red;
}
ul#book_con li a:hover{
	width:200px;
	height:280px;
	display: block;
	border:1px solid #64CBB3;
}