.page{
    list-style: none;
}
.page>li{
    float: left;
    padding: 5px 10px;
    cursor: pointer;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px;
}
.page .pageItemActive{
    border: solid thin #64CBB3;
    margin: 5px;
    background-color: #64CBB3;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #64CBB3;
    background-color: #64CBB3;
    color:white;
}
.page .pageItemDisable{
    border: solid thin #DDDDDD;
    margin: 5px;
    background-color: #DDDDDD;
}