<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar" id="nav">
    <li><a href="/shop/addBook">添加书籍</a></li>
    <li><a href="/shop/seeAllBook">管理全部书籍</a></li>
    <li><a href="/shop/accountManage">账户设置</a></li>
    <li><a href="/shop/message">消息中心</a></li>
  </ul>      
</div>