<div class="header-main center ease">
	<a class="slogan" href="/">
	   <h1 class="s-main"></h1>
	   <div class="s-submain"></div>
	   <img alt="西安邮电大学最便捷实惠的二手书交易市场" src="/images/logo_title.png">
	</a>
	<div class="search-box-wr ease">
		<form class="search-box center" method="get" action="/book_search">
			 <input class="search-submit" type="submit" value="搜索">
			<div class="input-wr">
			<span class="search-icon glyphicon glyphicon-search"></span>
				<div class="search-input">
				   <input id="keyword" type="text" placeholder="搜索你想要的图书" x-webkit-speech="" name="bookName" required>  
				</div>

			</div>

		</form>
		<div class="search-hots center ease">
			<span>热门：</span>
			<a class="hots" target="_blank" href="">操作系统</a>
			<a class="hots" target="_blank" href="">计算机网络</a>
			<a class="hots" target="_blank" href="">国富论</a>
			
		</div>
	</div>
	<div class='log-reg ease'>
	     <div class='button' data-type='l' id='log_in' data-toggle="modal" data-target="#myModal_1">登录</div>
	     <div class='button' data-type='r' id='reg' data-toggle="modal" data-target="#myModal">注册</div>
    </div>	
</div>