     <!-- 注册 -->
     <div class="modal fade" tabindex="-1" id="myModal" role="dialog" aria-labelledby="gridSystemModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">西邮校园二手书街卖书注册</h4>
          </div>
          <div class="modal-body">
            <!-- 用户名 -->
            <div class="row">
              <div class="form-group">
                  <label class="col-md-3 control-label">
                      用户名：
                  </label>
                  <div class="col-md-5">
                      <input type="text" class="form-control" placeholder="请输入邮箱……"   name="registerEmail" required autofocus="" id="registerEmail">
                  </div>
              </div>
            </div>
            <!-- 输入密码啊 -->
            <div class="row">
              <div class="form-group">
                  <label class="col-md-3 control-label">
                      密码：
                  </label>
                  <div class="col-md-5">
                      <input type="password" class="form-control" placeholder="请输入密码……"   name="typeName" required autofocus="" id="registerPass">
                  </div>
              </div>
              <!-- 重复密码 -->
            </div>
             <div class="row">
              <div class="form-group">
                  <label class="col-md-3 control-label">
                      重复密码：
                  </label>
                  <div class="col-md-5">
                      <input type="password" class="form-control" placeholder="请再输入密码……"   name="typeName" required autofocus="">
                  </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消注册</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="shopRegister">确认注册</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

     <!-- 登录 -->
     <div class="modal fade" tabindex="-1" id="myModal_1" role="dialog" aria-labelledby="gridSystemModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">西邮校园二手书街卖书登录</h4>
          </div>
          <div class="modal-body">
            <!-- 用户名 -->
            <div class="row">
              <div class="form-group">
                  <label class="col-md-3 control-label">
                      用户名：
                  </label>
                  <div class="col-md-5">
                      <input type="text" class="form-control" placeholder="请输入邮箱……"  id="loginEmail" name="typeName" required autofocus="">
                  </div>
              </div>
            </div>
            <!-- 输入密码啊 -->
            <div class="row">
              <div class="form-group">
                  <label class="col-md-3 control-label">
                      密码：
                  </label>
                  <div class="col-md-5">
                      <input type="text" class="form-control" placeholder="请输入密码……"  id="loginPass" name="typeName" required autofocus="">
                  </div>
              </div>
         
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消登录</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="shopSubmit">确认登录</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->